body {
  font-family: "Press Start 2P", cursive;
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  width: 100vw;
}
.headerContainer {
  width: 100%;
  height: 20vh;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 2rem;
}
.info {
  font-size: 1.5rem;
  display: block;
  text-align: center;
  padding: 2rem;
}
.info > * {
  border: 2px solid black;
  padding: 1.75rem;
  background-color: white;
  color: black;
}
form {
  text-align: center;
}
#textInput {
  width: 450px;
  height: 40px;
  font-family: "Press Start 2P", cursive;
  font-size: 1rem;
}
#getInfoBtn {
  width: 200px;
  height: 50px;
  font-family: "Press Start 2P", cursive;
  background-color: white;
  color: black;
  border: 3px solid black;
  border-radius: 25px;
}
#getInfoBtn:hover {
  transition: 0.25s ease all;
  cursor: pointer;
  background-color: slateblue;
  color: white;
}
